* {
    box-sizing: border-box;
}

body {
    font-family: 'Karla', sans-serif;
    margin: 0;
    background: #F5F7FB;
}

main {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.question--container, .quiz--container, .options {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.question--container {
    margin: 7.5px;
}

.options {
    margin: 10px;
}
.question--title {
    text-align: left;
    max-width: 600px;  
}

button {
    font-family: 'Inter', sans-serif;
    cursor: pointer;
}

.answer--button {
    font-weight: 500;
    margin: 5px 10px;
    padding: 7.5px;
    background: none;
    border: 1px solid #4D5B9E;
    border-radius: 8px;
    font-size: 12px;
    color: #293264;;
}

.selected {
    background: #D6DBF5;
}

.check--button {
    background: #4D5B9E;
    border-radius: 10px;
    font-weight: 600;
    color: #F5F7FB;
    border: none;
    padding: 15px 40px;
    margin-top: 10px;
}

.game-options, .game-input {
    font-family: 'Karla', sans-serif;
    padding: 1rem;
    padding-right: 4rem;
    border: 1px solid #D5D4D8;
    margin: 5px;
    border-radius: 5px;
    width: 100%;
}
.checked {
    margin-right: 10px;
}

.answer--container {
    display: flex;
    flex-direction: row;
    margin: 6px;
}

/* .circle--top, .circle--bottom {
    width: 150px;
    height: 150px;
    border-top-right-radius:0;
    border-top-left-radius:0;
    border-bottom-right-radius:0;
    border-bottom-left-radius:100%;
    position: absolute;
}

.circle--top {
    background: #FFFAD1;
    top: -10.5rem;
    right: -8rem;
}

.circle--bottom{
    background: #DEEBF8;
    left: -7.5rem;
    bottom: -16.5rem;
} */